@page "/"

<h1>Hello, world!</h1>

<li>Counter is here 10 Increment whereas on the Counterpage itself its 1 (default)</li>
<li>Todo List</li>
<Counter IncrementAmount="10"  />
<SurveyPrompt Title="How is Blazor working for you?" />
